body {
	font-family: Arial;
	background-color: ;

}
p {
	width: 80%;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}
nav li{
	color: black;
	float: right;
	margin-right: 300px;

}
ul li {
	color: black;
}
.social_media{
	display: inline-block;
	margin-left: 100px;
}
.wraper{
	padding: 10px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.big_wraper{
	padding: 10px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	border:3px solid black;
}
img {
	width:30%;
	height:20%;
	float: left;
	margin-right: 10px;
}
h1	{
	width: 80%;
	color: green;
	background-color: grey;
	margin-right: auto;
	margin-left: auto;

}
h2	{
	border: 3px;
	text-align: center;
	display: block;
	color: maroon;
}
h3 {
	width: 80%;
	color: red;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
}
footer {
	clear: both;
	text-align: center;
}
.the_footer{
	border-top: 5px solid green;
}
.heading{
	text-align: center;
	font: arial;
}
#institution,#skills,#education,#hobby{
	vertical-align: top;
	display: inline-block;
	color: green;
	width: 20%;
}
#button{
	background: grey;
	border: 3px solid blue;
	border-radius: 38px;
	color:

}
#home_page{
	padding: 10px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}